  
@* @{
  Layout = "_Layout";
}

@model University.Models.Class

<h4>Add a new class</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.ClassName)
    @Html.TextBoxFor(model => model.ClassName)
    <input type="submit" value="Add new class" />
}
<p>@Html.ActionLink("Show all class", "Index")</p> *@