  
@{
  Layout = "_Layout";
}

@model University.Models.Class

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.ClassName): @Html.DisplayFor(model => model.ClassName)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to class", "Index")