@{
  Layout = "_Layout";
}

@model University.Models.Course

<h4>Edit a course</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CourseId) 

    @Html.LabelFor(model => model.CourseName)
    @Html.EditorFor(model => model.CourseName)
    <input type="submit" value="Edit" />
}
<p>@Html.ActionLink("Show all courses", "Index")</p>